{include file="common/head"/}
 ?{{bdTopEditorJs}}?
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
    
    <fieldset class="layui-elem-field layui-field-title">
        <legend>添加</legend>
    </fieldset>

    <form class="layui-form layui-form-pane">

        ?{{add_ziduan}}?


        <input type="hidden" name="?{{Database}}?" ng-model="field.?{{Database}}?" value="{$?{{Database}}?}" class="layui-input">
        
        
          

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="submit">{:lang('submit')}</button>
                <a href="{:url('?{{index}}?')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
            </div>
        </div>
    </form>
</div>
{include file="common/foot"/}
?{{ManySelectCss}}?
<script src="/static/common/js/angular.min.js"></script>
<script>
    ?{{ManySelectJs}}?
    ?{{bdBtmEditorJs}}?
    var m = angular.module('hd',[]);
    ?{{manyImgArray}}?
    m.controller('ctrl',function($scope) {
        layui.use(['form','upload', 'layer','layedit'?{{formSelects}}?], function () {
             var form = layui.form, layer = layui.layer,$= layui.jquery,upload = layui.upload,layedit = layui.layedit;
             ?{{layedit_set}}?
             ?{{layedit_bulid}}? 
             ?{{varForm}}?
            

            form.on('submit(submit)', function (data) {
                // 提交到方法 默认为本身
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                
                ?{{layedit_content}}? //获取编辑器的内容

                $.post("", data.field, function (res) {
                    console.log(res);
                    layer.close(loading);
                    if (res.code > 0) {
                        layer.msg(res.msg, {time: 1800, icon: 1}, function () {
                            location.href = res.url;
                        });
                    } else {
                        layer.msg(res.msg, {time: 1800, icon: 2});
                    }
                });
            })

            ?{{uploadImg}}?
            ?{{manyImg}}?

        });
    });



    // 时间插件shi-jian-cha-jian
    //?{{shijianchajian_js}}?
    function useLayDateMultiple(cls) {
        layui.use('laydate', function() {
            var laydate = layui.laydate;
            lay('#' + cls).each(function() {
                laydate.render({
                    elem : this,
                    trigger : 'click'
                });
            });
        });
    }
</script>
</body>
</html>