#静态资源
rewrite ^/uploads/(.*)$  /uploads/$1 last;
rewrite ^/upload/(.*)$  /upload/$1 last;
rewrite ^/static/(.*)$  /static/$1 last;


#隐藏index.php
rewrite  ^/index.php/(.*)$  /index.php?s=$1 last;
#隐藏index.php
rewrite  ^(.*)$  /index.php?s=$1 last;

break;